.bannerContainer {
    position: relative;
  }
  
  .bannerImage {
    display: none; /* By default, hide all images */
  }
  
  .mobileImage {
    display: block;
  }
  
  @media (min-width: 768px) {
    /* Tablet */
    .mobileImage {
      display: none;
    }
    .tabletImage {
      display: block;
    }
  }
  
  @media (min-width: 1024px) {
    /* Desktop */
    .tabletImage {
      display: none;
    }
    .desktopImage {
      display: block;
    }
  }