@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: medium;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.w-32p{
  width: 32%;
}

.w-24p{
  width: 24%;
}

.productcard-min-h-460{
  height: 460px;
}

.min-h-400{
  min-height: 400px;
}
.min-h-500{
  min-height: 500px;
}
.min-h-600{
  min-height: 600px;
}
.min-h-700{
  min-height: 700px;
}
.min-h-800{
  min-height: 800px;
}
.min-h-900{
  min-height: 900px;
}

.h-500{
  min-height: 500px;
}
.h-600{
  min-height: 600px;
}
.cart-drop-down-list-height{
  height: 400px;
}
.search-form-width{
  width: 600px;
}
