@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: medium;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .addtocart-button{
    @apply px-4 text-emerald-800 font-bold bg-slate-300 hover:bg-slate-400 active:bg-slate-300;
  }
  .continue-button{
    @apply w-40 py-3 px-2 bg-blue-400 text-white;
  }

  .viewcart-button{
    @apply w-40 py-3 px-2 bg-gray-400 text-white;
  }

  .quantity-button{
    @apply w-8 h-8 text-center border-b border-solid bg-gray-200 border-gray-200 hover:bg-gray-100 active:bg-slate-200;
  }

  .nav-bar-zindex{
    z-index: 999;
  }

  /*Login*/
  .max-w-500{
    max-width: 500px;
  }
  .w-500{
    width: 500px;
  }
  .h-300{
    height: 300px;
  }
  .h-350{
    height: 350px;
  }
  /*----------------*/  
  
  /*Cart drop down*/
  .cart-dropdown-h-450{
    height: 460px;
  }
  .cart-drop-down-list-height{
    height: 350px;
  }
  .search-form-width{
    width: 600px;
  }
  
/*product*/

  .star {
    width: 15px;  
    aspect-ratio: 1;
    background: #F8CA00;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
  }

  .star-inactive {
    width: 15px;  
    aspect-ratio: 1;
    background: #a3a3a3;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);  
    /* clip-path: polygon(50% 0,
      calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
      calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
    );  */
  }  
}



.w-32p{
  width: 32%;
}

.w-24p{
  width: 24%;
}

.productcard-min-h{
  height: 460px;
}

.max-w-500{
  max-width: 500px;
}

.h-700{
  min-height: 700px;
}
.min-h-400{
  min-height: 400px;
}
.min-h-400{
  min-height: 400px;
}
.min-h-500{
  min-height: 500px;
}
.min-h-600{
  min-height: 600px;
}
.min-h-700{
  min-height: 700px;
}
.min-h-800{
  min-height: 800px;
}
.min-h-900{
  min-height: 900px;
}

.h-500{
  height: 500px;
}
.h-600{
  min-height: 600px;
}