@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: medium;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-bar-zindex{
  z-index: 9999;
}

.w-32p{
  width: 32%;
}

.w-24p{
  width: 24%;
}

.productcard-min-h{
  height: 460px;
}

.max-w-500{
  max-width: 500px;
}

.h-700{
  min-height: 700px;
}

.min-h-400{
  min-height: 400px;
}
.min-h-500{
  min-height: 500px;
}
.min-h-600{
  min-height: 600px;
}
.min-h-700{
  min-height: 700px;
}
.min-h-800{
  min-height: 800px;
}
.min-h-900{
  min-height: 900px;
}

.h-500{
  min-height: 500px;
}
.h-600{
  min-height: 600px;
}
.cart-drop-down-list-height{
  height: 400px;
}
.search-form-width{
  width: 600px;
}

/*Login*/
.w-500{
  width: 500px;
}
.h-300{
  height: 300px;
}
.h-350{
  height: 350px;
}
/*----------------*/

.star {
  width: 15px;  
  aspect-ratio: 1;
  background: #F8CA00;
   clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
}

.star-inactive {
  width: 15px;  
  aspect-ratio: 1;
  background: #a3a3a3;
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);  
  /* clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   );  */
}